@import "tailwindcss";

/*noinspection CssInvalidAtRule*/
@theme {
    --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --color-primary-black: #1A202C;
    --color-primary-white: #E2E8F0;
    --n-item-text-color: rgb(255, 255, 255) !important;
    --n-item-text-color-hover: rgb(51, 54, 57);
    --n-item-text-color-active: #18a058;
}

@layer base {
    body {
        font-family: var(--font-family-primary), serif;
        @apply
        bg-primary-white
        relative
    }

    h1 {
        @apply
        text-4xl
        font-bold
    }

    h2 {
        @apply
        text-3xl
        font-bold
    }

    h3 {
        @apply
        text-2xl
        font-bold
    }

    h4 {
        @apply
        text-xl
        font-bold
    }
}

@layer components {
    .n-button__content {
        @apply
        text-lg
        text-primary-white
    }

    .n-form-item-label__text {
        @apply
        text-lg
    }

    .home-page-footer {
        @apply
        bg-primary-black
        absolute
        bottom-0
        w-full
        h-16;

        div {
            @apply
            flex
            justify-center
            items-center
            h-full
        }

        span {
            @apply
            text-primary-white
        }
    }

    .login-view-main {
        @apply
        flex
        flex-row
        items-center
        justify-center
        h-screen
        pb-12
        px-2
    }

    .home-view-main {
        @apply
        h-screen
        pt-[260px]
    }

    .login-card {
        @apply
        max-w-[400px]
        shadow-2xl
    }

    .icon-card {
        @apply
        min-w-[300px]
        h-[230px]
        shadow-lg
    }

    .card-container {
        @apply
        grid
        grid-cols-1
        md:grid-cols-2
        xl:grid-cols-3
        gap-10
        md:gap-14
        px-4
        2xl:px-0
        justify-items-center
    }

    .home-page-container {
        @apply
        flex
        flex-col
        w-full
        justify-center
        items-center
        gap-4
        px-10
    }

    .button-tag-default {
        @apply
        w-fit
        h-fit
        flex
        cursor-pointer
    }

    /*.n-menu-item-content-header,*/
    /*.n-menu-item-content-header a,*/
    /*.n-menu-item-content,*/
    /*.router-link-active,*/
    /*.router-link-exact-active{*/
    /*    color: var(--color-primary-white) !important;*/
    /*}*/
    /*.n-menu-item-content-header:hover,*/
    /*.n-menu-item-content-header a:hover,*/
    /*.n-menu-item-content:hover {*/
    /*    color: var(--color-primary-black) !important;*/
    /*}*/
    /*.router-link-active:hover,*/
    /*.router-link-exact-active:hover {*/
    /*    color: var(--color-primary-white) !important;*/
    /*}*/
}